<section id="productos" class="py-16 lg:py-24 bg-white">
         <div class="text-center z-10 px-4 w-full max-w-6xl">

            <!-- Título -->
            <h1 class="text-white text-5xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl font-bold mb-4 md:mb-6 text-shadow animate-bounce-slow leading-tight">
                LOS <span class="text-yellow-600"> IRRESISTIBLES </span>deliciosos
            </h1>
         </div>
            <!-- Container para productos dinámicos -->
            <div id="productsContainer" class="grid sm:grid-cols-2 lg:grid-cols-4 gap-6">
                <!-- Los productos se cargarán aquí con JavaScript -->
            </div>
        </div>
    </section>

