<!-- Pasos -->
  <div class="grid md:grid-cols-3 gap-6 lg:gap-16 mt-16 lg:mt-24 relative z-10 px-6 lg:px-12">

    <!-- Paso 2 -->
    <div class="group rounded-3xl p-10 transition-all duration-500 hover:-translate-y-4 text-center">
      <div class="mb-8 relative">
        <img 
          src="img/PECAMOS.JPG" 
          alt="Pecamos con orgullo"
          class="w-20px h-20px mx-auto object-contain group-hover:scale-110 transition-transform duration-500"
        >
      </div>
      <h3 class="text-4xl font-black text-pink-600 mb-4">
        PECAMOS CON ORGULLO
      </h3>
      <p class="text-xl font-medium">
        No sabemos decir que no, nos encantan los excesos
      </p>
    </div>
    <!-- Paso 1 -->
    <div class="group rounded-3xl p-10 transition-all duration-500 hover:-translate-y-4 text-center">
      <div class="mb-8 relative">
        <img 
          src="img/TENTAMOS.JPG" 
          alt="Tentamos al talento"
          class="h-fit w-fit mx-auto object-contain group-hover:scale-110 transition-transform duration-500"
        >
      </div>
      <h3 class="text-4xl font-black text-pink-600 mb-4">
        TENTAMOS CON TALENTO
      </h3>
      <p class="text-xl font-medium">
        Somos expertos en hacerte caer en la tentación más dulce
      </p>
    </div>

    

    <!-- Paso 3 -->
    <div class="group rounded-3xl p-10 transition-all duration-500 hover:-translate-y-4 text-center">
      <div class="mb-8 relative">
        <img 
          src="img/DULCIFICAMOS.JPG" 
          alt="Dulcificamos la culpa"
          class="w-fit h-fit mx-auto object-contain group-hover:scale-110 transition-transform duration-500"
        >
      </div>
      <h3 class="text-4xl font-black text-pink-600 mb-4">
        DULCIFICAMOS LA CULPA
      </h3>
      <p class="text-xl font-medium">
          No nos arrepentimos de nada, y menos de saltarnos la dieta
      </p>
    </div>

  </div>

</section>