<footer id="contacto" class="footer-gradient text-white py-16">
  <div class="container mx-auto px-4">

    <!-- GRID PRINCIPAL -->
    <div class="grid md:grid-cols-3 gap-12 mb-12 text-center md:text-left">

      <!-- LOGO + BRAND -->
      <div>
        <h3 class="title text-3xl font-black mb-4 text-white">Maldita Dulzura</h3>
        <img src="IMG/LOGO.JPG" alt="Sugar Bot" class="w-32 mx-auto md:mx-0 mb-4 drop-shadow-xl">
      </div>

      <!-- CONTACTO -->
      <div>
        <h3 class="text-2xl mb-4 text-white">Contacto</h3>
        <ul class="space-y-4">
          <li class="flex items-center justify-center md:justify-start gap-3">
            <i class="fab fa-whatsapp text-white text-xl"></i>
            <span>+34 677 674 782</span>
          </li>

          <li class="flex items-center justify-center md:justify-start gap-3">
            <i class="fas fa-envelope text-white text-xl"></i>
            <span>info@malditadulzura.com</span>
          </li>

          <li class="flex items-center justify-center md:justify-start gap-3">
            <a href="#" class="flex items-center gap-3 hover:text-mdPink transition">
              <i class="fab fa-instagram text-white text-xl"></i>
              <span>@malditadulzura</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- ENLACES RÁPIDOS -->
      <div>
        <h3 class="text-2xl mb-4 text-white">Enlaces Rápidos</h3>
        <ul class="space-y-4">
          <li><a href="index.html" class="hover:text-mdPink transition">Inicio</a></li>
          <li><a href="tienda.html" class="hover:text-mdPink transition">Tienda</a></li>
          <li><a href="nosotros.html" class="hover:text-mdPink transition">Sobre nosotros</a></li>
          <li><a href="pedido.html" class="hover:text-mdPink transition">Pedido</a></li>
        </ul>
      </div>

    </div>

    <!-- COPYRIGHT -->
    <div class="border-t border-white pt-8 text-center">
      <p class="text-white">
       Porque todos tenemos nuestros pequeños vicios y el nuestro es hacer que los tuyos sean deliciosos.
      </p>
      <p class="text-white mt-3 text-xl md:text-2xl">
        © 2025 – Maldita Dulzura
      </p>
    </div>

  </div>
</footer>









