<section id="sobre-nosotros" class="py-20 lg:py-28 footer-gradient text-white">
  <div class="container mx-auto px-6 lg:px-12 max-w-4xl text-center">
    <h2 class="text-4xl md:text-5xl lg:text-6xl font-black mb-10 leading-tight">
      SOBRE NOSOTROS
    </h2>
    
    <p class="text-lg lg:text-xl leading-relaxed mb-8">
      En <strong>Maldita Dulzura</strong>, no creemos en la moderación. Creemos en los momentos de entrega absoluta, 
      en esos segundos robados al deber donde solo existe el placer. Somos artesanos de la tentación, dedicados a convertir cada uno de tus antojos en una experiencia irrepetible. 
      Nuestras recetas son invitaciones a caer en la perdición más dulce.
    </p>

    <p class="text-lg lg:text-xl leading-relaxed">
      Desde el primer mordisco hasta el último crujido, cada creación está pensada para recordarte que <br>
      <strong>LA VIDA SABE MEJOR CUANDO TE PERMITES CEDER</strong>.
    </p>
  </div>
</section>

<section id="filosofia" class="py-20 lg:py-28 bg-white">
    <div class="container mx-auto px-6 lg:px-12 max-w-4xl text-center">
    <h2 class="text-4xl lg:text-6xl font-pink-600 mb-10 leading-tight">
      NUESTRA FILOSOFÍA
    </h2>
      
      <div class="grid md:grid-cols-3 gap-8">
        <!-- Paso 1 -->
        <div class="bg-white mb-4 rounded-2xl p-8 shadow-lg card-hover text-center items-center">
            <img src="/IMG/TENTAMOS.JPG" class="w-32 h-32>
            <h3 class="text-4xl font-bold mb-4 text-pink-600">TENTAMOS AL TALENTO</span></h3>
      </div>
        
        <!-- Paso 2 -->
        <div class="bg-white mb-4 rounded-2xl p-8 shadow-lg card-hover text-center items-center">
              <img src="/IMG/PECAMOS.JPG" class="w-32 h-32">
             <h3 class="text-4xl font-bold mb-4 text-pink-600">PECAMOS CON ORGULLO</span></h3>
        </div>
        
        
        <!-- Paso 3 -->
        <div class="bg-white mb-4 rounded-2xl p-8 shadow-lg card-hover text-center items-center">
            <img src="IMG/DULCIFICAMOS.JPG" class="w-32 h-32">
            <h3 class="text-4xl font-bold mb-4 text-pink-600">DULCIFICAMOS LA CULPA</span>
            </h3>
          </div>
        </div>
      </div>
</section>
